.container {
  width: 80%;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  height: 100%;
}
.about-container {
  display: flex;
  margin: auto;
  border-radius: 10px;
  overflow: hidden; /* Ensure rounded corners don't overflow */
  height: 100%; /* Change from fixed height to auto to fit content */
  padding: 20px;
  margin: 20px auto;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(242, 180, 135, 1) 59%
  );
}

.about-left-side {
  flex: 1;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: auto;
}

.about-right-side {
  flex: 1;
  padding: 10px;
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-left-side h1 {
  font-family: "Notable", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 30px;
  padding-bottom: 10px;
  margin: 0;
}

.about-left-side h4 {
  font-family: "inter", sans-serif;
  font-size: 20px;
  margin: 5px 0;
  font-weight: 400;
  color: #3a3939;
}

.about-left-side p {
  font-family: "inter", sans-serif;
  font-size: 16px;
  margin: 5px 0;
  padding-bottom: 10px;
}

.about-right-side img {
  width: 100%;
  height: 80%;
  object-fit: cover;
  border-radius: 10px;
}

/* Responsive styles */
@media screen and (max-width: 768px) {
  .about-container {
    width: 90%;
    flex-direction: column;
    height: auto; /* Reset height */
    margin-top: 20px;
    background: rgb(255, 255, 255);
    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 1) 0%,
      rgba(242, 180, 135, 1) 59%
    );
  }

  .about-left-side,
  .about-right-side {
    padding: 10px; /* Adjust padding */
    text-align: center; /* Center content */
  }

  .about-left-side h1 {
    font-size: 24px;
  }

  .about-left-side h4 {
    font-size: 18px;
  }

  .about-left-side p {
    font-size: 14px;
  }

  .about-right-side img {
    display: none;
    /*max-width: 100%;*/ /* Ensure image doesn't overflow about-container */
    /*height: auto;*/
  }
}

/* about.css */
.contact-container {
  display: flex;
  margin: auto;
  border-radius: 10px;
  overflow: hidden; /* Ensure rounded corners don't overflow */
  height: 100%; /* Change from fixed height to auto to fit content */
  padding: 20px;
  margin: 20px auto;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(242, 180, 135, 1) 59%
  );
}

.contact-left-side {
  flex: 1;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: auto;
}

.contact-right-side {
  flex: 1;
  padding: 10px;
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact-left-side h1 {
  font-family: "Notable", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 30px;
  padding-bottom: 10px;
  margin: 0;
}

.contact-left-side h4 {
  font-family: "inter", sans-serif;
  font-size: 20px;
  margin: 5px 0;
  font-weight: 400;
  color: #3a3939;
}

.contact-left-side p {
  font-family: "inter", sans-serif;
  font-size: 16px;
  margin: 5px 0;
  padding-bottom: 10px;
}

.contact-right-side img {
  width: 100%;
  height: 80%;
  object-fit: cover;
  border-radius: 10px;
}

/* Responsive styles */
@media screen and (max-width: 768px) {
  .contact-container {
    width: 90%;
    flex-direction: column;
    height: auto; /* Reset height */
    margin-top: 20px;
    background: rgb(255, 255, 255);
    background: linear-gradient(
      90deg,
      rgba(255, 255, 255, 1) 0%,
      rgba(242, 180, 135, 1) 59%
    );
  }

  .contact-left-side,
  .contact-right-side {
    padding: 10px; /* Adjust padding */
    text-align: center; /* Center content */
  }

  .contact-left-side h1 {
    font-size: 24px;
  }

  .contact-left-side h4 {
    font-size: 18px;
  }

  .contact-left-side p {
    font-size: 14px;
  }

  .contact-right-side img {
    display: none;
    /*max-width: 100%; /* Ensure image doesn't overflow contact-container */
    /*height: auto;*/
  }
}
