.carousel-container {
    width: 100%;
    margin: auto;
  }

  .carousel-heading {
    text-align:left;
    font-size: 24px;
    font-family: "YourFontFamily", sans-serif; /* Replace with your desired font family */
    margin-bottom: 30px;
  }
  
  .carousel-slide {
    text-align: center;
    box-sizing: border-box;
  }
  
  .carousel-image {
    width: 100%;
    height: 250px;
    object-fit: contain;
  }

  .carousel-description {
    font-size: 16px;
    margin-top: 10px;
  }
  
  .carousel-promo {
    font-size: 14px;
    color: #ff0000;
    margin-top: 10px;
  }

  @media (max-width: 1440px) {
    .carousel-image {
        max-height: 200px;
    }
  }
  
  @media (max-width: 1024px) {
    .carousel-image {
        max-height: 180px;
    }
  }
  
  @media (max-width: 768px) {
    .carousel-image {
        max-height: 160px;
    }
  }
  
  @media (max-width: 600px) {
    .carousel-image {
        height: 150px;
    }
  }