/* about.css */
.contact-container {
    width: 80%;
    display: flex;
    border-radius: 10px;
    margin: auto;
    overflow: hidden; /* Ensure rounded corners don't overflow */
    height: 500px;
    padding: 20px;
}

.contact-left-side {
    flex: 1;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contact-right-side {
    flex: 1;
    padding: 10px;
    display: flex;
    align-items: center;
}

.contact-left-side h1 {
    font-size: 30px;
    margin: 0;
}

.contact-left-side h4 {
    font-size: 20px;
    margin: 5px 0;
    font-weight: 0;
    color: rgb(126, 125, 125);
}

.contact-left-side p {
    font-size: 16px;
    margin: 5px 0;
    padding-bottom: 10px;
}

.contact-right-side img {
    width: 100%;
    height: auto;
    max-height: 100%; /* Ensure image doesn't overflow contact-container */
    border-radius: 10px;
}

/* Responsive styles */
@media screen and (max-width: 768px) {
    .contact-container {
        width: 90%;
        flex-direction: column;
        height: auto; /* Reset height */
        margin-top: 20px;
    }

    .contact-left-side,
    .contact-right-side {
        padding: 10px; /* Adjust padding */
        text-align: center; /* Center content */
    }

    .contact-left-side h1 {
        font-size: 24px;
    }

    .contact-left-side h4 {
        font-size: 18px;
    }

    .contact-left-side p {
        font-size: 14px;
    }

    .contact-right-side img {
        max-width: 100%; /* Ensure image doesn't overflow contact-container */
        height: auto;
    }
}
