/* Optimized the css here*/
/* General container styles */
.container {
  width: 90%;
  margin: 20px auto 20px;
}

/* Heading styles */
.heading {
  /* font-size: 24px; */
  font-weight: bold;
  margin: 0px 0px 20px 0px;
  text-align: left;
}

/* Category styles */
.category {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.category-item {
  width: calc(31% - 2%);
  margin-bottom: 2px;
  overflow: hidden;
}

.category-item img {
  width: 100%;
  height: 70%;
  border-bottom: 1px solid #ccc;
  border-radius: 8px;
}

.category-item .description,
.e-description > h2 {
  padding-left: 0;
  margin: 0;
  border: none;
  text-align: left;
  color: #2c2c2c;
  font-weight: 600;
  /* font-weight: bold; */
}

.category-item .description p {
  margin: 0;
  font-size: 1.2rem;
}
.category-item > p,
.e-category-item > p {
  margin: 0.2rem 0 0 0;
  font-size: 16px;
  color: #5f5f5f;
}

/* Electronics container styles */
.electronics-container {
  display: flex;
  padding-bottom: 20px;
}

.left-side,
.right-side {
  flex: 1;
  padding: 0 5px;
}

.left-side .e-category-item,
.right-side .e-category-item {
  max-width: 50rem;
  max-height: 65rem;
}

.left-side img,
.right-side img {
  width: 100%;
  height: 100%;
  border-radius: 8px;
}

.right-side .category {
  display: flex;
  flex-direction: column;
}

.right-side .e-category-item {
  margin-bottom: 15px;
}

/* BANKING */

.description > h2 {
  margin: 0.5rem 0 0.5rem 0;
  font-weight: 600;
  text-align: center;
}

.banking-main {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(207, 238, 255, 1) 27%,
    rgba(207, 238, 255, 1) 100%
  );
}

.banking-main > .category {
  display: flex;
  justify-content: space-evenly;
}

.banking-main > h1 {
  padding-top: 1rem;
  margin: 0 0 0.5rem 3%;
  color: #3d3d3d;
  font-size: 2.5rem;
  letter-spacing: 3px;
}

.banking-desc {
  text-align: center;
  font-size: 1rem;
}

/* Responsive styles */
@media only screen and (max-width: 799px) {
  .heading {
    font-size: 20px;
  }

  .category-item .description,
  .e-description {
    font-size: 13px;
    padding-bottom: 0;
  }

  .electronics-container {
    padding-bottom: 5px;
  }

  .category-item p,
  .e-category-item p {
    font-size: 12px;
    padding-bottom: 20px;
  }

  .category-item img {
    height: 40%;
  }

  .left-side,
  .right-side {
    padding-top: 0;
    padding-bottom: 20px;
  }
}

@media (min-width: 800px) and (max-width: 1150px) {
  .banking-main{
    height: 100%;
  }
  .banking-desc {
    font-size: 0.89rem;
  }
  .description > h2 {
    font-size: 1.2rem;
  }
}

@media (min-width: 280px) and (max-width: 500px) {
  .banking-main > h1 {
    margin: 0;
    text-align: center;
    font-size: 1.5rem;
    padding: 0.5rem 0 0.5rem 0;
  }
  .banking-main > .category {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .category-item {
    width: calc(100% - 10%);
  }
}
