/* Optimized the css here*/
/* General container styles */
.container {
  width: 90%;
  margin: 20px auto 20px;
}

/* Heading styles */
.heading {
  /* font-size: 24px; */
  font-weight: bold;
  margin: 0px 0px 20px 0px;
  text-align: left;
}

/* Category styles */
.category {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.category-item {
  width: calc(31% - 2%);
  margin-bottom: 2px;
  overflow: hidden;
}

.category-item img {
  width: 100%;
  height: 70%;
  border-bottom: 1px solid #ccc;
  border-radius: 8px;
}

.category-item .description,
.e-description > h2 {
  padding-left: 0;
  margin: 0;
  border: none;
  text-align: left;
  color: #2c2c2c;
  font-weight: 600;
  /* font-weight: bold; */
}

.category-item .description p{
  margin: 0;
  font-size: 1.2rem;
}
.category-item > p, .e-category-item > p {
  margin: .2rem 0 0 0;
  font-size: 16px;
  color: #5f5f5f;
 
} 

/* Electronics container styles */
.electronics-container {
  display: flex;
  padding-bottom: 20px;
}

.left-side,
.right-side {
  flex: 1;
  padding: 0 5px;
}

.left-side .e-category-item, .right-side .e-category-item{
  max-width: 50rem;
  max-height: 65rem;
}

.left-side img,
.right-side img {
  width: 100%;
  height: 100%;
  border-radius: 8px;
}

.right-side .category {
  display: flex;
  flex-direction: column;
}

.right-side .e-category-item {
  margin-bottom: 15px;
}

.description{
  font-size: 1.2rem;
}
/* Responsive styles */
@media only screen and (max-width: 768px) {
  .heading {
    font-size: 20px;
  }

  .category-item .description,
  .e-description {
    font-size: 13px;
    padding-bottom: 0;
  }

  .electronics-container {
    padding-bottom: 5px;
  }

  .category-item p,
  .e-category-item p {
    font-size: 12px;
    padding-bottom: 20px;
  }

  .category-item img {
    height: 40%;
  }

  .left-side,
  .right-side {
    padding-top: 0;
    padding-bottom: 20px;
  }
}