.banner-wrapper {
    width: 100%;
    background-color: #f9f9f9;
  }
  
  .slick-slide {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .slider-heading {
    text-align:left;
    font-size: 24px;
    font-family: "YourFontFamily", sans-serif; /* Replace with your desired font family */
    margin-bottom: 30px;
    margin-top: 40px;
    letter-spacing: 10px;
  }
  
  .carousel-slide-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0; /* Remove padding around slide content */
    box-sizing: border-box; /* Include padding and border in element's total width and height */
    width: calc(100% / 6); /* Adjust width to show 6 slides */
  }
  
  .carousel-image-2 {
    width: 100%; /* Make image width adjust to the slide width */
    height: 200px; /* Fixed height for consistency */
    object-fit: cover; /* Ensure image covers the area */
    border-radius: 8px;
  }
  
  h4 {
    font-size: 1.2rem;
    margin: 10px 0 5px;
  }
  
  p {
    font-size: 1rem;
    color: #666;
    margin: 0;
  }
  
  .slick-slide {
    margin: 0; /* Remove margin between slides */
  }
  
  .slick-dots {
    bottom: -30px; /* Adjust position of dots if needed */
  }

  @media (max-width: 768px) {
    .slider-heading {
      font-size: 20px;
      letter-spacing: 1px;
      line-height: 20px;
    }
  }