body{
  font-family: Arial, Helvetica, sans-serif;
}

.App{
  text-align: center;
  max-width: 100vw;
  margin: 10rem auto;
}

img{
  width: 300px;
  height: 35vh;
  object-fit: cover;
}

@media screen and (min-width: 480px) {
  .img {
  max-width: 150px;
  height: 10vh;
  }
}

.banner-wrapper{
  width: 100vw;
  overflow: hidden;
}

.banner-wrapper h1{
width: 564px;
height: 71px;
left: 77px;
top: 1005px;
font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 38px;
line-height: 110%;
letter-spacing: 0.2em;
color: #3C3A3A;
margin-left: 35px;
}

.banner-wrapper .wrapper{
  display: flex;
}


.banner-wrapper .wrapper .images{
  display: flex;
  animation: swipe 12000ms linear infinite;
}

.banner-wrapper .wrapper .images image{
  column-gap: 0;
}

h4{
font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 150%;
text-align: center;
color: #000000;
margin-top: 5px;
}

p{
font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 150%;
display: flex;
text-align: center;
color: #828282;
align-items: center;
justify-content: center;
margin-top: -25px;
}

@keyframes swipe{
  0%{
    transform: translateX(0);
  }
  100%{
    transform: translateX(-100%);
  }
}