/* Layout container holding filter and products */
.layout-container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.title-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px; /* Add margin if needed for spacing */
}

.category-title{
  margin-bottom: 25px;
  font-size: 30px;
  font-family: notable;
}

.product-count {
  margin: 0;
  font-size: 14px;
  color: #666;  /* Adjust the color to fit your design */
}

/* Filter box */
.filter-box {
  width: 20%;
  background-color: #ffffff;
  padding: 20px;
  margin-right: 20px; /* Space between filter and product gallery */
  margin-top: 60px;
  border-radius: 8px;
  border: 1px solid #efeded;
  height: fit-content; /* Keeps the filter box as tall as its content */
}

/* Product gallery stays the same */
.productpage-container {
  width: 75%;
  margin-top: 20px;
  flex: 1;
}

/* Product cards (unchanged) */
.product-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 10px;
}

.product-card {
  width: calc(31% - 10px);
  margin-bottom: 20px;
  border-radius: 8px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
  overflow: hidden;
  text-align: left;
}

.product-card img {
  width: 100%;
  height: 200px;
  object-fit: contain;
  background-color: #f9f9f9;
}

.product-details {
  padding: 10px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.product-title {
  font-size: 16px;
  font-weight: bold;
  margin: 0 0 2px;
  color: #222;
}

.product-description {
  font-size: 14px;
  color: grey;
  margin-top: 0;
  flex-grow: 1;
}

.buy-now-button {
  display: inline-block;
  padding: 10px 20px;
  color: white;
  background-color: rgb(50, 50, 50);
  text-decoration: none;
  border-radius: 5px;
  margin-top: 10px;
  font-size: 13px;
  align-self: flex-start;
}


/* Responsive styles */
@media screen and (max-width: 768px) {
  .product-card {
    width: calc(48% - 10px);
  }

  .common-banner-image {
    height: 200px;
  }
}
