/* Layout container holding filter and products */
.layout-container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  position: relative; /* For positioning the filter icon */
}

.title-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

.category-title {
  margin-bottom: 25px;
  font-size: 30px;
  font-family: notable;
}

.product-count {
  margin: 0;
  font-size: 14px;
  color: #666;
}

/* Filter box */
.filter-box {
  width: 20%;
  background-color: #ffffff;
  padding: 20px;
  margin-right: 20px;
  border-radius: 8px;
  border: 1px solid #efeded;
  height: fit-content;
}

/* Product gallery container */
.productpage-container {
  width: 75%;
  margin-top: 20px;
  flex: 1;
}

/* Product cards */
.product-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 10px;
}

.product-card {
  width: calc(31% - 10px);
  margin-bottom: 20px;
  border-radius: 8px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
  overflow: hidden;
  text-align: left;
}

.product-card img {
  width: 100%;
  height: 200px;
  object-fit: contain;
  background-color: #f9f9f9;
}

.product-details {
  padding: 10px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.product-title {
  font-size: 16px;
  font-weight: bold;
  margin: 0 0 2px;
  color: #222;
}

.product-description {
  font-size: 14px;
  color: grey;
  margin-top: 0;
  flex-grow: 1;
}

.buy-now-button {
  display: inline-block;
  padding: 10px 20px;
  color: white;
  background-color: rgb(50, 50, 50);
  text-decoration: none;
  border-radius: 5px;
  margin-top: 10px;
  font-size: 13px;
  align-self: flex-start;
}

/* Filter Icon */
.filter-icon {
  display: none; /* Hide by default */
  position: fixed;
  right: 20px;
  bottom: 20px;
  cursor: pointer;
  z-index: 1000; /* Ensure it's above other content */
}

/* Fullscreen Filter Overlay */
.filter-overlay {
  display: none;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70%;
  background: #ffffff;
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
  z-index: 999;
  padding: 20px;
  box-sizing: border-box;
  transition: transform 0.3s ease-out;
  transform: translateY(100%); /* Hide by default */
}

.filter-overlay.open {
  display: block;
  transform: translateY(0); /* Show when filter is open */
}

/* Responsive styles */
@media screen and (max-width: 768px) {
  .filter-box {
    display: none; /* Hide filter box on mobile view */
  }

  .productpage-container {
    width: 100%;
  }

  .product-card {
    width: calc(48% - 10px); /* Display 2 products per row */
  }

  .filter-icon {
    display: block; /* Show filter icon on mobile view */
  }
}
