.main {
  width: 100%;
  overflow-x: hidden;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(207, 238, 255, 1) 27%,
    rgba(207, 238, 255, 1) 100%
  );
}

.banking > h1 {
  font-family: "inter";
  font-size: 35px;
  font-weight: 700;
  display: flex;
  justify-content: space-between;
}

.cards {
  gap: 1rem;
  width: 100%;
  /* align-items: center; */
  justify-content: space-evenly;
  display: flex;
}

.card {
  height: 70%;
  width: calc((100% / 3) - 1.2rem);
}

.description > h2 {
  font-family: "inter";
  font-size: 19px;
  font-weight: 600;
  margin-top: 10px;
  text-align: center;
  padding: 0;
}
.banking-desc {
  font-family: "inter";
  font-size: 14px;
  font-weight: 400;
  margin-top: 0px;
  text-align: center;
}

.banking-img {
  width: 100%;
  max-width: 90%;
  object-fit: cover;
  aspect-ratio: 1 / 1; /* Ensures the image fits within a square */
  border-radius: 8px; /* Optional: for rounded corners */
}

@media (min-width: 280px) and (max-width: 520px) {
  .main {
    background: rgb(255, 255, 255);
    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 1) 0%,
      rgba(255, 249, 227, 0.685) 27%,
      rgba(255, 246, 212, 1) 100%
    );
  }
  .banking > h1 {
    font-size: 20px;
  }
}

@media screen and (max-width: 980px) {
  .banking-desc {
    margin: 0;
        font-size: 12px;
    width: 100%;
    display: -webkit-box; /* Display as a block-level flex container */
    -webkit-box-orient: vertical; /* Set the box's orientation to vertical */
    overflow: hidden; /* Hide the overflowing text */
    text-overflow: ellipsis; /* Add ellipsis (...) at the end of the truncated text */
    -webkit-line-clamp: 2; /* Specify the number of lines to display before truncating */
    line-clamp: 2;
  }

  .banking h2{
    font-size: 13px;
    width: 100%;
  }
}
