@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Khand:wght@300&family=Poppins:ital,wght@1,600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Notable&display=swap");
.bannerContainer {
  width: 100vw;
  position: relative;
  background-color: rgb(244, 241, 241);

  .bannerImage {
    height: 40.978vw;
    width: 100%;
    object-fit: fill;
    @media (max-width: 768px) {
      display: none;
    }
  }
  .contentContainer {
    position: absolute;
    top: 0;
    left: 0;
    margin: 3.398vw 0 0.555vw 7.49vw;
    max-width: 48.222vw;
    max-height: 17.892vw;
    .mobile_para {
      display: none;
    }
    .mainHeading {
      font-family: "Notable", sans-serif;
    }
    .desktop_para {
      width: 80%;
    }
    @media (max-width: 768px) {
      .mobile_para {
        display: block;
      }
      .desktop_para {
        display: none;
      }
      position: static; /* Ensure the content container flows normally */
      margin: 0;
      max-width: 100%;
      text-align: center; /* Center text */
      padding: 20px; /* Add padding to center vertically */
      max-height: none; /* Remove the max-height constraint */
      display: flex; /* Added */
      flex-direction: column; /* Added */
      align-items: center; /* Added */
    }
    h1 {
      width: 90%;
      font-family: "Notable";
      font-style: normal;
      font-weight: 700;
      font-size: 4.438vw;
      line-height: 4.438vw;
      color: #000000;
      white-space: wrap;
      margin: 0;
      padding: 0;

      @media (max-width: 768px) {
        font-size: 24px; /* Adjust font size for mobile view */
        line-height: 28px; /* Adjust line height for mobile view */
      }
    }

    p {
      font-family: "Inter";
      opacity: 0.6;
      font-style: normal;
      font-weight: 400;
      font-size: 1.11vw;
      line-height: 1.526vw;
      color: rgba(0, 0, 0, 0.6);
      margin: 10px 0 2.011vw 0;
      padding: 0;
      @media (max-width: 768px) {
        font-size: 14px; /* Adjust font size for mobile view */
        line-height: 18px; /* Adjust line height for mobile view */
        margin: 10px 0; /* Add margin to separate elements */
      }
    }

    .shopNowCTA {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 1.11vw 3.745vw;
      margin-bottom: 3.051vw;
      width: 14.563vw;
      height: 3.606vw;
      background-color: #000000;
      border-radius: 4.3vw;
      font-family: "Inter";
      font-style: normal;
      font-weight: 400;
      font-size: 1.01vw;
      line-height: 1.526vw;
      color: #dcdada;
      border: none;
      cursor: pointer;
      transition: background-color 0.3s, transform 0.3s;
      @media (max-width: 768px) {
        width: auto;
        padding: 10px 20px; /* Adjust padding for mobile view */
        font-size: 16px; /* Adjust font size for mobile view */
      }
    }
    .shopNowCTA:hover {
      color: #000;
      background-color: #fff;
      border: 2px solid black;
      transform: scale(1.05);
    }

    .info-container {
      display: flex;
      max-width: 41.331vw;
      height: 5.132vw;
      flex-wrap: wrap;
      align-items: center;
      gap: 30px;
      margin-bottom: 8.044vw;
      @media (max-width: 768px) {
        gap: 10px;
        max-width: 100%;
        justify-content: center; /* Center items horizontally */
        text-align: center; /* Center text */
      }
      div {
        @media (max-width: 768px) {
          width: 30%;
        }
      }

      h2 {
        margin: 0;
        padding: 0;
        font-family: "Inter";
        font-style: normal;
        font-weight: 700;
        font-size: 2.774vw;
        line-height: 3.745vw;
        color: #000000;
        @media (max-width: 768px) {
          font-size: 18px; /* Adjust font size for mobile view */
          line-height: 22px; /* Adjust line height for mobile view */
        }
      }
      p {
        margin: 0;
        padding: 0;
        font-family: "Inter";
        font-style: normal;
        font-weight: 400;
        font-size: 1.11vw;
        line-height: 1.526vw;
        color: rgba(0, 0, 0, 0.6);
        @media (max-width: 768px) {
          font-size: 14px; /* Adjust font size for mobile view */
          line-height: 18px; /* Adjust line height for mobile view */
        }
      }
    }
  }
}
