.festival-sale-wrapper {
  display: none;
  position: relative;
  padding-top: 60px; /* Adjust as needed */
}

.festival-sale-header {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  position: relative;
}

.festival-sale-text {
  background-color: rgb(244, 244, 97);
  color: rgb(255, 102, 0);
  padding: 5px 15px; /* Thinner padding */
  border-radius: 20px;
  font-size: 18px; /* Smaller font size */
  font-weight: bold;
  position: absolute;
  top: -20px; /* Adjust this value as needed */
  left: 50%;
  transform: translateX(-50%);
  width: 75%;
  text-align: center;
  letter-spacing: 1px;
  z-index: 1; /* Ensure it's above the content */
}

.festival-sale-container {
  background: linear-gradient(to bottom, rgb(246, 145, 184), white);
  padding-top: 40px; /* Adjust as needed */
  position: relative;
}

.festival-sale-container-slider {
  width: 100%;
  margin: 0 auto;
}

.festival-sale-slide-container {
  display: flex;
  overflow-x: auto;
  white-space: nowrap;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.festival-sale-slide-container::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.festival-sale-slide {
  display: inline-block;
  padding: 0 10px; /* Space between slides */
}

.festival-sale-image {
  width: 188px;
  height: 284px;
  border-radius: 8px;
  margin: 0 10px; /* Space between images */
}

/* Responsive adjustments */
@media only screen and (max-width: 799px) {
  .festival-sale-wrapper {
    display: block;
  }
  .festival-sale-image {
    max-width: 240px; /* Slightly smaller for mobile */
    margin: 0 5px; /* Maintain margin for spacing between images */
  }
}
