/* footer.css */
footer {
  background-color: #fff;
  padding: 10px;
  border-top: 3px solid #333;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 10px;
}

.footer-container div {
  flex-basis: 20%;
  margin-bottom: 20px;
}

.footer-container h2 {
  font-size: 15px;
  margin: 0 0 10px;
}

.footer-container ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-container li {
  font-size: 14px;
  margin-bottom: 5px;
}

.footer-container a {
  color: #333;
  text-decoration: none;
}

.company-info {
  flex-basis: 30%;
}

.company-info ul {
  display: flex;
}

.company-info li {
  margin: 0 5px;
}

/* Responsive styles */
@media only screen and (max-width: 768px) {
  footer {
    padding: 10px;
  }
  
  .footer-container {
    padding: 2px;
  }

  .footer-container div {
    flex-basis: 15%;
    margin-left: 2px;
  }

  .footer-container h2 {
    font-size: 12px;
  }
  
  .footer-container li {
    font-size: 11px;
  }
}