.review-section {
    width: 100vw;
}

.review-header {
    display: flex;
    justify-content: left;
    margin-bottom: 20px;
}

.review-title {
    font-size: 2em;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0;
}

.review-container {
    display: flex;
    overflow-x: auto; /* Enables horizontal scrolling */
    gap: 20px; /* Adds space between the review boxes */
    scroll-behavior: smooth; /* Smooth scrolling when user interacts with the scroll bar */
    padding-bottom: 10px; /* Adds space for the scrollbar */
    margin: 0 auto;
}

.review-item {
    flex: 0 0 30%; /* Ensures the boxes are of fixed size */
    min-width: 300px; /* Sets a minimum width to ensure the box is wide enough */
    padding: 5px 10px;
    border-radius: 15px;
    text-align: left;
    border: 1px solid rgb(85, 71, 71);
    color: #000;
    opacity: 0.9;
    transition: opacity 0.5s ease-in-out;
}

.review-item:nth-child(odd) {
    background-color: white;
}

.review-item:nth-child(even) {
    background-color: white;
}

.stars {
    font-size: 1.5em;
    color: gold;
    margin-bottom: 10px;
}

h3 {
    margin: 10px 0;
    font-weight: bold;
    text-align: left;
    color: #000;
}

p {
    font-size: 1.1em;
    line-height: 1.5;
    text-align: left;
    color: #000;
}